MYSQL_ROOT_PASSWORD=my-secret-pw
MYSQL_USER=orsee_user
MYSQL_DATABASE=orsee_db
MYSQL_PASSWORD=orsee_pw
MYSQL_HOST=db
ORSEE_VERSION_TAG=orsee_3.4.0
SMTP_HOST=host.docker.internal
SMTP_PORT=25
SMTP_SECURE=
SMTP_AUTH_TYPE=none
SMTP_USERNAME=
SMTP_PASSWORD=